/node_modules
/html/hot
/html/storage
/storage/*.key
/vendor
.env
.env*
.phpunit.result.cache
.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
worker.log
*.DS_Store
__MACOSX
UserController.php
composer.lock